<!DOCTYPE html>
<html>
<head><title>This is my Page Title</title></head>

<body>
	<p><h1>Days of Christmas</h1><p>
	<!-- I am learning how to code -->
	<ol>
		<li>On the first day of christmas, my true love sent to me</li>
		<!-- This is how you do a ordered list (Number) -->
			<ul>
				<li>a Partridge in a Pear Tree</li>
			</ul>
		<li>On the Second day of christmas, my true love sent to me</li>
			<ul>
				<li>Two Turtle Doves</li>
				<li>and a Partridge in a Pear Tree</li>
			</ul>
		<li>On the Third day of christmas, my true love sent to me</li>
			<ul>
				<li>Three French Hens</li>
				<li>Two Turtle Doves</li>
				<li>and a Partridge in a Pear Tree</li>
			</ul>
			<!-- This is how you put in a unordered list(Bullets) -->
	</ol>
	<a href="http://codefor.asia/"> Code for asia </a>
	<!-- This is how to put a hyperlink, the white words will be what you see to press -->
	<br/>
	<a href="top"> To the top </a>
	<!-- This is how to include a interal hyperlink -->
	<br/>
	<img src = "http:bit.ly/treeforasia" /img> </a>
	<!-- This is how you put in image (This is for a image stored online-->
	<br/>
	<a href="http://codefor.asia/"> <img src = "http:bit.ly/treeforasia" /img> </a>
	<!-- This is how to include the hyperlink in te image -->
	<img src ="images/red_pin.jpg">
	
	<table>
		<tr>
			<td>1</td>
			<td>2</td>
			<td>3</td>
		</tr>
		<tr>
			<td>4</td>
			<td>5</td>
			<td>6</td>
		</tr>
		<tr>
			<td>7</td>
			<td>8</td>
			<td>9</td>
		</tr>
	</table>
	<!-- This is how to input a table/ matrix -->
	<br/>
	<table>
		<tr>
			<th scope="col"> Mon </th>
			<th scope="col"> Wed </th>
			<th scope="col"> tues </th>
		</tr>
		<tr>
			<td>1</td>
			<td>2</td>
			<td>3</td>
		</tr>
	</table>
	<!-- This is how to input a table/ matrix  but with the top heading bolded-->
	<br/>
	<table>
		<tr>
			<th scope="row"> Mon </th>
			<td>1</td>
		</tr>
		<tr>
			<th scope="row"> tues </th>
			<td>1</td>
		</tr>
		<tr>
			<th scope="row"> Wed </th>
			<td>2</td>
		</tr>
	</table>
	<!-- This is how to input a table/ matrix but with the side heading bolded -->
	<br/>
<table border="1" style="text-align: center; color:white" cellpadding="30">
	<!-- This is how to put the tabe borders, to align the text and to set the wording color -->
	<tr bgcolor="black">
	<!-- This is how to input the background colour of the row -->
			<th> </th>
			<th scope="col"> Mon </th>
			<th scope="col"> Tues </th>
			<th scope="col"> Wed </th>
			<td>4</td>
	</tr>
	<tr bgcolor="blue">
		<th scope="row"> Cookies ate </th>
		<td>1</td>
		<td>2</td>
		<td rowspan="2">3</td>
		<!-- This is how to make the boxes expand into 2 rows(They will take prority compared to the row entities after them)  -->
		<td>4</td>
	</tr>
	<tr bgcolor="brown">
		<th scope="row"> Donuts ate </th>
		<td colspan="2">1</td>
		<!-- This is how to make the boxes expand into 2 column  -->
		<td>4</td>
	</tr>
</table>
	<!-- This is how to input a table/ matrix with both the side and top bolded -->
<br/>
Please select what you wish to know
<br/>
	<input type="radio" name="pain killer" value="Headache" checked="checked" /> Headache
	<input type="radio" name="pain killer" value="Back Pain" /> Back Pain
	<input type="radio" name="pain killer" value="Joint pain" />Joint pain
	<!-- This is how to input radio buttons -->
<br/><br/>
	Username: <input type="text" name="username" size="15" maxlength="10"/>
	<!-- This is how to put a text box for ppl to type in -->
<br/><br/>
	Password: <input type="text" name="username" size="15" maxlength="10"/>
<br/><br/>
	Comments: 
	<br/>
	<textarea name="comments" cols="20" rows="4"> Enter your comments... </textarea>
	<!-- This is how to put a big text box for ppl to type in -->
</body>

</body>
</html>